/* Buttons */
.btn {
  border-radius: 2px;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* customising btn-primary */
.btn-primary {
  color: #fff;
  background-color: #0CA691;
  border-color: #0CA691;
}

.btn-primary:hover {
  color: #0CA691;
  background-color:#fff;
  border-color: #0CA691;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #0CA691;
  border-color: #0CA691;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #0CA691;
  background-color:#f5f7f6;
  border-color: #0CA691;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none
}

/* Customising btn-secondary */
.btn-secondary {
  color: #fff;
  background-color: #E25F70;
  border-color: #E25F70;
}

.btn-secondary:hover {
  color: #E25F70;
  background-color:#f5f7f6;
  border-color: #E25F70;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: none;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #E25F70;
  border-color: #E25F70;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #E25F70;
  background-color:#f5f7f6;
  border-color: #E25F70;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none
}

.cta-button {
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  font-size: 1.125rem;
}

.singin-button {
  font-size: 1rem;
  white-space: nowrap;
}
.btn-outline-success {
  color: #f5f7f6;
  background-color: transparent;
  background-image: none;
  border-color: #f5f7f6;
}

.btn-outline-success:hover {
  color: #4c384a;
  background-color: #f5f7f6;
  border-color: #4c384a;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: none
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #f5f7f6;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #4c384a;
  background-color: #f5f7f6;
  border-color: #f5f7f6;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: none
}