.header-bg {
  position: absolute;
  left: 0;
  top: 0;
  background: #4c384a;
  width: 100%;
  height: 600px;
  z-index: -1; 
}

/* Home Hero Content */
.text-large {
  color: #c0d3dc;
  font-size: 1.5rem;
  padding: 0 10px 0 10px;
}

.hero-container { 
  margin-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 125px;
}

.hero-sub-heading {
  margin-bottom: 65px;
}

/* for smaller mobile screen */
@media only screen and (max-width: 339px) {
  .hero-container { 
    margin-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 100px;
  }

  .hero-sub-heading {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 769px) {
  .hero-home-cta {
    width: 100%;
  }
}

.hero-header-main-title {
  display: flex;
}

.hero-heading-lg {
  display: none;
}

.content-img-main {
  width: 100%;
  border-radius: 3px;
}

.content-container {
  margin-bottom: 40px;
  padding: 0px 5px;
}

.content-container-first {
  /* background-image: linear-gradient(to bottom, white, #f3f7fa);  */
}
.content-container-bg-div {
  background-image: linear-gradient(to top, #fff, #f3f7fa);
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 15px;
}

.service-card-img {
  width: 50px;
  height: 50px;
}

.main-content-col {
  padding: 10px 30px 10px 30px;
}

.service-card-img {
  margin-bottom: 25px;
}

.corporate-logo-img {
  width: 136px;
}

.corporate-logo-img-larger {
  width: 90px;
}

.corporate-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

/* footer */
.footer-container {
  background-color: #4c384a;
}

.footer-sitemap-content {
  padding: 30px 10px 20px 10px;
  margin-left: 20px;
}

.footer-header {
  color:#f5f7f6;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight:bold;
}

.footer-ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-link, .footer-link:hover, .footer-link:active, .footer-link:focus{
  color:#f5f7f6;
  font-size: 0.875rem;
  text-decoration: none;
}

.footer-bottom {
  align-items: flex-end;
}

.copyright-container {
  color:#f5f7f6;
  font-size: 0.75rem;
  margin-bottom: 15px;
}

.social-icons-container {
  display: flex;
  justify-content: right;
  margin-left: auto;
}

.social-logo-img {
  width: 30px;
  margin: 10px 10px 30px 10px;
}

.main-content-header {
  margin-bottom: 30px;
}
.underline-header-container {
  padding: 10px 20px;
}

/* for footer bottom bigger than mobile screen */
@media only screen and (min-width: 576px) {
  .social-icons-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
  }
}

@media only screen and (min-width: 532px) {
  .hero-container { 
    padding-bottom: 250px;
  }
}

@media only screen and (min-width: 991px) {
  .navigation-main.scrolled {
    background-color:#f5f7f6;
  }
  .navigation-main.scrolled > .nav-container {
    background-color:#f5f7f6;
  }
  .navigation-main.scrolled > .navigation-panel {
    background-color:#f5f7f6;
  }
  .navigation-main.scrolled a {
    color: #4c384a;
  }
  .navigation-main.scrolled .navbar-brand-img {
    opacity: 0;
  }
  .navigation-main.scrolled .navbar-brand-title {
    color: #4c384a;
  }

  .hero-container { 
    margin-top: 195px;
    padding-bottom: 115px;
  }
  .hero-heading-lg {
    display: block;
  }
  .hero-heading-mobile{
    display: none;
  }
  .hero-sub-heading {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .title-animation:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
    border-width: 0 0 1px;
    border-style: solid;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    transition-delay: 2s;
    transform-origin: top left;
    transform: scaleX(0);
  }
  .title-animation.active:after {
    transform: scaleX(1);
  }
  .content-container {
    padding: 40px 5px;
  }
  
  .main-content-col {
    padding: 0 20px 0 20px;
  }
  .corporate-logo-container {
    height: 200px;
  }
  .service-card {
    margin: 15px 15px;
    padding: 30px 30px;
  }
}


/* Services */
@media only screen and (min-width: 991px) {

  .header-space-placeholder {
    width: 100%;
    height: 90px;
  }
}

.subtitle-header-underline{
  border: 1px solid #0CA691;
}

.flip-card {
  border: 1px solid #d2d2d2;
  box-shadow: 1px 2px #bcbcbc;
  perspective: 1000px;
  transition: all .3s;
  margin: 5px 0px;
}

.flip-card-inner {
  height: 100%;
}
.flip-card-back {
  transition: all .5s;
  transform: scaleY(0);
  transform-origin: top right;
  height: 0px;
  overflow: hidden;
}

.flip-card-back.active {
  transform: scaleY(1);
  height: auto;
}
.flip-card-title {
  color: #404040;
}
.flip-card-front {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}
.flip-card-back {
  display: block;
  margin: 5px 10px;
}

.flip-card-back-details{
  font-size: 1.125rem;
}

.flip-card-front:hover .circle {
  background-color: #0CA691;
}

.flip-card-front:hover .arrow {
  border-color: #f5f7f6;
}

.circle {
  border: 1px solid #0CA691;
  border-radius: 100%;
  width: 28px;
  height: 28px;
}

.arrow {
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #0CA691;
  transform: rotate(45deg);
  transition: all .2s;
  width: 14px;
  height: 14px;
  margin-left: 6px;
  margin-top: 2px;
}

.arrow.active {
  transform: rotate(45deg);
  border-width: 1px 0px 0px 1px;
  transition: all .2s;
  margin-top: 10px;
}

/* flip card is only for desktop */
@media only screen and (min-width: 991px) {

  /* hiding mobile only parts */
  .flip-card-divider {
    display: none;
  }
  .circle {
    display: none;
  }
  .arrow {
    display: none;
  }
  .flip-card {
    border: 1px solid #d2d2d2;
    box-shadow: 1px 2px #bcbcbc;
    height: 270px;
    perspective: 1000px;
    transition: all .3s;
    margin: 20px 20px;
  }

  .flip-card:hover {
    transform: translateY(-4px);
    box-shadow: 1px 3px #bcbcbc;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flip-card-back {
    display: block;
    background-color:#E25F70;
    transform: rotateY(180deg);
    transform-origin: center center;
    margin: 0px 0px;
    padding: 15px 15px;
  }

  .flip-card-title {
    color: #404040;
  }
  .flip-card-back-details{
    color: white;
  }
}

/* about us */
.contact-table {
  margin-top: 30px;
}
.contact-table-row, .contact-table-head, .contact-table-data {
  padding: 10px 15px;
  vertical-align: top;
  border: 1px solid #ced4da;
}

.contact-us-now-form {
  /* border: 1px solid #a5a5a5; */
  /* border-width: 1px 0 0 0;
  border-color: #ced4da;
  border-style: solid; */
  padding: 15px 15px;
}

.form-title {
  font-size: 1.125rem;
  color: #404040;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-form {
  padding: 15px 15px;
  border: 1px solid #404040;
}

.required-field:before {
  color: #d00;
  content: "*";
}

.order-form-button-div {
  margin-top: 15px;
}

/* modal */
/* .modal-lg {
  position: abosolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 991px) {
  .modal-lg {
    max-width: 800px;
  }
} */

.modal {
  position: absolute;
}
.modal-lg {
  max-width: 100%;
  margin: auto;
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
  .modal {
    position: fixed;
  }
}

.modal-header-custom {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.modal-footer-custom {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-icon {
  margin-left: 5px;
}

.modal-submit-button{
  margin-right: 20px;
  width: 110px;
}